<div id="{{ gid }}">
	<div class="control-group stat-select">
		<select name="{{ gid }}[0][type]" class="selectpicker span5" data-size="15" data-selected-text-format="count>3"
		        {% if group.values|length > 30 %}data-live-search="true"{% endif %}>
			{% for pid, property in group.values %}
				<option data-min="{{ property.min }}" data-max="{{ property.max }}" value="{{ pid }}">{{ property.name }}</option>
			{% endfor %}
		</select>

		{%  if group.min == 1 and group.max == 1 %}
			<input name="{{ gid }}[0][value]" type="hidden" value="1" class="hidden">
		{% else %}
			<input name="{{ gid }}[0][value]" type="text" value="{{ group.creation.default }}" class="spinedit" >
		{% endif %}

		<button style="vertical-align: top" type="button" class="btn btn-danger"><span class="icon-remove"></span></button>
	</div>

	<button type="button" class="btn add"><span class="icon-plus"></span> Add</button>
</div>

<script>
	$(function() {
		var allowed = '{{ group.creation.total }}'|0;
		var aButton = $('#{{ gid }} > .add');
		var append = '<div class="control-group">'+aButton.prev().html()+'</div>';
		var i = 1;

		function updateTotal() {
			var total = 0;

			$('#{{ gid }} .spinedit, #{{ gid }} .hidden').each( function( k, v ) {
				total += v.value|0;
			});

			var bubble = $('#{{ gid }}-total');
			bubble.html(total+'/'+allowed);

			if( allowed == total ) bubble.addClass('label-success'); else bubble.removeClass('label-success');
			if( allowed < total ) bubble.addClass('label-important'); else bubble.removeClass('label-important');
		}

		function remove() {
			$(this).parent().remove();
			updateTotal();
		}

		function add( v ) {
			v.before( append.replace(/\[0\]/g, '['+(i++)+']' ));
			v.prev().find('.selectpicker').selectpicker();
			v.prev().find('.spinedit').spinedit({minimum: {{ group.min }}, maximum: {{ group.max }}});
			v.prev().find('.spinedit').on( 'valueChanged', updateTotal );
			v.prev().find('.btn-danger').on( 'click', remove );
			updateTotal();
			return false;
		}

		aButton.click( function() { add($(this)); });

		$('#{{ gid }} > .stat-select > .selectpicker').selectpicker();
		$('#{{ gid }} > .stat-select > .spinedit').spinedit({minimum: {{ group.min }}, maximum: {{ group.max }}});
		$('#{{ gid }} > .stat-select > .spinedit').on( 'valueChanged', updateTotal );
		$('#{{ gid }} > .stat-select > .btn-danger').on( 'click', remove );

		updateTotal();
	});
</script>
