<!DOCTYPE html>
<html>

<head lang="en">
	<meta charset="UTF-8">
	<title>Charactergenerator</title>

	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>

	<link href="http://splitter.iv-dev.de/style/splitter/css/bootstrap-select.css" rel="stylesheet">
	<link href="http://splitter.iv-dev.de/style/splitter/css/bootstrap-spinedit.css" rel="stylesheet">

	<script type="text/javascript" src="http://splitter.iv-dev.de/style/splitter/js/bootstrap-select.js"></script>
	<script type="text/javascript" src="http://splitter.iv-dev.de/style/splitter/js/bootstrap-spinedit.js"></script>

	<style>
		.totalcounter  {
			line-height: 30px;
			font-size: 20px;
			margin: 15px 0;
		}

		.table { margin-bottom: 0; }
		.table input { 	margin-bottom: 0; }
		.table div.spinedit { top: 5px; }
	</style>
</head>

<body>
<form action="index.php" method="get" class="container" style="max-width: 650px;">

{%  for gid, group in stats %}
	<div class="pull-right label totalcounter" id="{{ gid }}-total"></div>
	<h2>{{ group.name }}</h2>

	<div id="{{ gid }}" style="clear: both;">
		{%  if group.creation.total < group.values|length / 3 %}
			{# Compact edit mode #}
			{% include "compact.twig" %}
		{% else %}
			{# Detail mode #}
			{% include "detailed.twig" %}
		{% endif %}
	</div>
{% endfor %}

	<p style="text-align: right">
		<button class="btn btn-large btn-primary" type="submit">Speichern</button>
	</p>

</form>
</body>

</html>
