<table class="table table-hover">
	<tr>
		<th>Eigentschaft</th>
		<th width="100">Wert</th>
	</tr>

	{% for pid, property in group.values %}
		<tr>
			<td>{{ property.name }}</td>
			<td><input name="{{ gid }}[{{ pid }}]" value="{{ group.creation.default }}" data-min="{{ property.min }}" data-max="{{ property.max }}" type="text" class="spinedit"></td>
		</tr>
	{% endfor %}
</table>

<script>
	$(function() {
		function updateTotal() {
			var total = 0;

			$('#{{ gid }} .spinedit').each(function(k,v) {
				total += v.value|0;
			});

			var label = $('#{{ gid }}-total');
			label.text(total+'/{{ group.creation.total }}');
			if( total == {{ group.creation.total }}) label.addClass('label-success').removeClass('label-important');
			else if( total > {{ group.creation.total }}) label.addClass('label-important').removeClass('label-success');
		}

		$('#{{ gid }} .spinedit').each(function(k,v) {
			var ele = $(v);

			var min = ele.data('min') != '' ? Math.max( ele.data('min'), {{ group.min }}) : {{ group.min }};
			var max = ele.data('max') != '' ? Math.min( ele.data('max'), {{ group.max }}) : {{ group.max }};

			ele.spinedit({minimum: min, maximum: max}).on('valueChanged', updateTotal);
		});

		updateTotal();
	});
</script>
